.home-container {
  background-image: url(../../../img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-content: center;
}

.star-wars-logo {
  width: 250px;
}

.home-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.header {
  color: white;
  margin-top: 30px !important;
}

.audio:focus {
  outline: none;
}
