.form-control {
  width: 500px;
}
.select {
  color: black;
  background-color: white;
  cursor: pointer;
}
.option {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .form-control {
    width: 80vw;
  }
}